In [16]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import urllib3
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from IPython.display import display, HTML
from IPython.core.interactiveshell import InteractiveShell

In [17]:
pgs_full_2016 = 154
pgs_full_2017 = 147
pgs_full_2018 = 85
pgs_full_2019 = 113
pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690


url_base_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
url_base_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

# Define the function

def mar_table(pages, base, marathon_df):
   for page in range(1, pages+1):
       url = base + str(page)
       result = requests.post(url)
       soup = BS(result.text)
       tables = soup.find_all('table', attrs = {'class':'table table-responsive table-bordered'})
       results_list = pd.read_html(str(tables[0]))
       result_df = results_list[0]
       marathon_df = marathon_df.append(result_df)
   return marathon_df

In [18]:
def mar_table(url, pgs):
    """Returns the dataframe
    pgs = number of pages 
    url = url
    """
    table = []
    for page, request in enumerate(range(pgs), start=1):
        result = requests.post(url+str(page))
        soup = BS(result.text)
        table.append(pd.read_html(str(soup))[1])
        
        return pd.concat(table)

In [19]:
fm_2016 = mar_table(url_base_2016, pgs_full_2016)
fm_2017 = mar_table(url_base_2017, pgs_full_2017)
fm_2018 = mar_table(url_base_2018, pgs_full_2018)
fm_2019 = mar_table(url_base_2019, pgs_full_2019)

f_df = [fm_2016, fm_2017, fm_2018, fm_2019]

In [20]:
hm_2016 = mar_table(url_base_half_2016, pgs_half_2016)
hm_2017 = mar_table(url_base_half_2017, pgs_half_2017)
hm_2018 = mar_table(url_base_half_2018, pgs_half_2018)
hm_2019 = mar_table(url_base_half_2019, pgs_half_2019)
hm_df = [hm_2016, hm_2017, hm_2018, hm_2019]

In [21]:
fm_2016.to_csv('./data/full_m_2016.csv')
fm_2017.to_csv('./data/full_m_2017.csv')
fm_2018.to_csv('./data/full_m_2018.csv')
fm_2019.to_csv('./data/full_m_2019.csv')

In [22]:
hm_2016.to_csv('./data/half_m_2016.csv')
hm_2017.to_csv('./data/half_m_2017.csv')
hm_2018.to_csv('./data/half_m_2018.csv')
hm_2019.to_csv('./data/half_m_2019.csv')

In [38]:
hm_2016.head()

   Overall   Bib            Name      Time
0        1   201  Roosevelt Cook  01:11:15
1        2   204     Bill Martin  01:11:50
2        3  1623    Cody Hodgins  01:13:43
3        4  1222   Andrew Archer  01:15:04
4        5  1224    Brian Syring  01:15:30

In [43]:
hm_2016.shape

(25, 4)

In [40]:
hm_2017.head()

   Overall   Bib            Name      Time
0        1   202   Tyler Andrews  01:10:58
1        2   204     Bill Martin  01:11:25
2        3   206     Nick French  01:11:42
3        4   201  Roosevelt Cook  01:13:20
4        5  1655     Erick Kigen  01:14:56

In [42]:
hm_2017.shape

(25, 4)

In [41]:
hm_2018.head()

   Overall  Bib            Name      Time
0        1  103  Roosevelt Cook  01:09:25
1        2  107    Lucas Cotter  01:09:51
2        3  105     Nick French  01:10:38
3        4  106    Jason Vincze  01:11:50
4        5  104   Joseph Elsakr  01:13:28

full_2016 = pd.DataFrame()
for page in range(154):
   base1 = url_base_2016
   page = 1
   url1 = base1 + str(page)
   result1 = requests.post(url1)
   soup1 = BS(result1.text, 'lxml')
   tables1 = soup1.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list1 = pd.read_html(str(tables1[0]))
   full_2016 = full_2016.append(results_list1)

In [23]:
base = url_base_2019
page = 99
url = base + str(99)

In [24]:
result = requests.post(url)
soup = BS(result.text)

In [25]:
tables = soup.find_all('table', attrs = {'class':"table table-responsive table-bordered"})

In [26]:
tables[0]

<table class="table table-responsive table-bordered">
<tr>
<th class="table-place">Overall</th>
<th class="table-place">Bib</th>
<th class="table-name">Name</th>
<th class="table-time">Time</th>
</tr>
<tr>
<td>99999</td>
<td>30178</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30178">Timothy Thompson</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31037</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31037">Kelly Himmelberg</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31556</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31556">Candice Campbell</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32466</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32466">Tia Lea</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32228</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32228">Haley Riley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32638</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32638">Jason Carroll</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32090</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32090">Tammy Crogan</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32558</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32558">Rakesh Singh</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32684</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32684">Jackeline Sosa</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30911</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30911">Maximilian Carter</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32341</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32341">David Chadwick</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32409</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32409">Carmen Hallock</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31123</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31123">Ken Mayo</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30366</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30366">Todd Moore</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31349</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31349">Andrew Gandee</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30955</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30955">Philip Draper</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30337</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30337">Joshua Knickerbocker</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30905</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30905">Andy Caravello</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32007</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32007">Leslie Smith</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31694</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31694">Keli Brown</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>33046</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=33046">Kerry Tolley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31613</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31613">Daniel Valenti</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31562</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31562">Laura Drew</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31657</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31657">Keith Andersen</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31970</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31970">Michelle Rador</a></td>
<td>00:00:00</td>
</tr>
</table>

In [27]:
#returns a list of DataFrames
results_list = pd.read_html(str(tables[0]))

In [28]:
results_list

[    Overall    Bib                  Name      Time
 0     99999  30178      Timothy Thompson  00:00:00
 1     99999  31037      Kelly Himmelberg  00:00:00
 2     99999  31556      Candice Campbell  00:00:00
 3     99999  32466               Tia Lea  00:00:00
 4     99999  32228           Haley Riley  00:00:00
 5     99999  32638         Jason Carroll  00:00:00
 6     99999  32090          Tammy Crogan  00:00:00
 7     99999  32558          Rakesh Singh  00:00:00
 8     99999  32684        Jackeline Sosa  00:00:00
 9     99999  30911     Maximilian Carter  00:00:00
 10    99999  32341        David Chadwick  00:00:00
 11    99999  32409        Carmen Hallock  00:00:00
 12    99999  31123              Ken Mayo  00:00:00
 13    99999  30366            Todd Moore  00:00:00
 14    99999  31349         Andrew Gandee  00:00:00
 15    99999  30955         Philip Draper  00:00:00
 16    99999  30337  Joshua Knickerbocker  00:00:00
 17    99999  30905        Andy Caravello  00:00:00
 18    99999  32007          Leslie Smith  00:00:00
 19    99999  31694            Keli Brown  00:00:00
 20    99999  33046          Kerry Tolley  00:00:00
 21    99999  31613        Daniel Valenti  00:00:00
 22    99999  31562            Laura Drew  00:00:00
 23    99999  31657        Keith Andersen  00:00:00
 24    99999  31970        Michelle Rador  00:00:00]

In [29]:
soup

<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]--><!--[if !IE]><!--><html lang="en">
<!--<![endif]-->
<head>
<script src="/cdn-cgi/apps/head/7FoXDn8p6JbK9hG0NSbLyMKO0Zg.js"></script><link href="/styles/vendor.min.css" rel="stylesheet"/>
<link href="/styles/rnr.min.css" rel="stylesheet"/>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title> | Rock n Roll Marathon Series | Marathon Half Marathon Events</title>
<meta content="" property="og:title"/>
<meta content="" property="og:image"/>
<meta content="" property="og:description"/>
<meta content="https://www.runrocknroll.com:443/en/Events/Nashville/The Races/Marathon/2019 Results" property="og:url"/>
<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MFKTKL');
    </script>
<script type="text/javascript">
        (function () {
            var didInit = false;
            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('124-QVG-738');
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>
<script src="/scripts/Sitecore.Foundation.Frameworks.min.js"></script>
<script src="/scripts/Sitecore.Foundation.Theming.min.js"></script>
<meta content="637049806488346691" name="VIcurrentDateTime"/>
<script src="/layouts/system/VisitorIdentification.js" type="text/javascript"></script>
</head>
<body class="header-static">
<noscript>
<iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-MFKTKL" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<div id="main-container">
<header class="header-static">
<nav class="navbar navbar-default navbar-static" id="mainNavbar">
<div class="container">
<div class="row">
<div class="nav-wrapper">
<div class="navbar-right col-sm-12 col-md-2 col-lg-2 clearfix">
<div class="navbar-activity event-navbar-activity">
<ul class="nav navbar-nav">
<li class="dropdown">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
<i class="fa fa-globe"></i>
</a>
<ul class="dropdown-menu">
<li class="">
<a href="https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('it', 'en', 'https://www.runrocknroll.com:443/it/events/nashville/the races/marathon/2019 results/')">italiano</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('zh', 'en', 'https://www.runrocknroll.com:443/zh/events/nashville/the races/marathon/2019 results/')">中文</a>
</li>
<li class="active">
<a href="https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('en', 'en', 'https://www.runrocknroll.com:443/en/events/nashville/the races/marathon/2019 results/')">English</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('fr', 'en', 'https://www.runrocknroll.com:443/fr/events/nashville/the races/marathon/2019 results/')">français</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('de', 'en', 'https://www.runrocknroll.com:443/de/events/nashville/the races/marathon/2019 results/')">Deutsch</a>
</li>
<li class="">
<a href="https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2019 results/" onclick="return SwitchToLanguage('es', 'en', 'https://www.runrocknroll.com:443/es/events/nashville/the races/marathon/2019 results/')">español</a>
</li>
</ul>
</li><li class="navbar-activity-search dropdown">
<form action="/en/Search" class="navbar-form" role="search">
<div class="form-group">
<input autocomplete="off" id="searchInputBox" name="query" placeholder="Enter a text to search for..." type="text"/>
</div>
</form>
<a class="btn navbar-toggle-search" data-target="#mainNavbar" data-toggle-class="is-searching" href="#">
<span class="glyphicon glyphicon-search"></span>
</a>
<div class="dropdown-menu dropdown-menu-wide" id="navbar-activity-search-results">
<div class="row panel-loading">
<div class="col-md-12">
<div class="text-center p-b-1">
Searching...
</div>
<div class="text-center">
<span class="fa fa-spinner fa-2x fa-spin"></span>
</div>
</div>
</div>
<div class="row panel-results">
<div class="col-md-12">
<ul class="media-list results"></ul>
</div>
</div>
<div class="row panel-result-count">
<div class="col-md-12">
<small>
<em class="result-count"></em>
search results found.
</small>
</div>
</div>
<div class="row panel-facet-values">
<div class="col-md-12">
<ul class="facet-values"></ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
<button class="btn btn-primary btn-sm pull-right" onclick="$('.navbar-activity-search form').submit()">Search</button>
</div>
</div>
</div>
</li>
</ul>
</div>
<div class="event-countdown">
<input id="yEvent" type="hidden" value="2020"/>
<input id="mEvent" type="hidden" value="4"/>
<input id="dEvent" type="hidden" value="25"/>
<input id="hEvent" type="hidden" value="0"/>
<input id="mmEvent" type="hidden" value="0"/>
<input id="sEvent" type="hidden" value="0"/>
<table>
<tr>
<td id="ddcounter"> </td>
<td id="hhcounter"> </td>
<td id="mmcounter"> </td>
<td id="sscounter"> </td>
</tr>
<tr>
<th>Days</th>
<th>Hours</th>
<th>Mins</th>
<th>Secs</th>
</tr>
</table>
</div>
<ul class="nav navbar-nav mega-menu-results header-btn">
<li class="dropdown">
<a class="dropdown-toggle btn btn-block" href="/en/Events/Nashville/Registration">Register</a>
</li>
</ul>
</div>
<div class="navbar-left col-sm-12 col-md-2 col-lg-2">
<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#siteNavbar" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/en">
<span class="logo row">
<img alt="Rock n Roll Marathon Series" disablewebedit="False" height="50" src="/-/media/RnR/Images/Logo/rock-n-roll-marathon-logo.png?h=50&amp;la=en&amp;mh=50&amp;w=270&amp;hash=B93502675AEE53BFDE866A7EEF0E5CD9" width="270"/>
</span>
</a>
</div>
<div class="navbar-center col-sm-12 col-md-8 col-lg-8">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav navbar-nav">
<li class="">
<a class="text-uppercase" href="/en/Events" target="">
Events
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Programs" target="">
Programs
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Travel" target="">
Travel
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Results" target="">
Results
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Blog" target="">
Blog
</a>
</li>
<li class="">
<a class="text-uppercase" href="https://www.runrocknrollstore.com/" target="_blank">
Shop
</a>
</li>
<li class="">
<a class="text-uppercase" href="/en/Partners" target="">
Partners
</a>
</li>
</ul>
</div>
<div class="row nav-mega-menu">
<div class="col-lg-12">
<ul class="nav navbar-nav mega-menu-main">
<li class="nav-2 col-lg-6 dropdown">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
The Races
</a>
<div class="mega-menu-content">
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/FAQ" target="" title="FAQ">
FAQ </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Confirm-Entry" target="" title="Confirm Entry">
Confirm Entry </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Charity" target="" title="Charity">
Charity </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Results" target="" title="Results">
Results </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Road-Closures" target="" title="Road Closures">
Road Closures </a>
</li>
<li class="">
<a class="" href="/en/Elite-Athletes" target="" title="Elites">
Elites </a>
</li>
<li class="">
<a class="" href="/en/Programs/Athletes-with-Disabilities" target="" title="Athletes with Disabilities">
Athletes with Disabilities </a>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Courses" target="" title="Courses">
Courses </a>
</li>
<li class="active">
<a class="" href="/en/Events/Nashville/The-Races/Marathon" target="" title="Marathon">
Marathon </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Half-Marathon" target="" title="Half Marathon">
Half Marathon </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/5K" target="" title="5k">
5k </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/1-Mile" target="" title="1 Mile">
1 Mile </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/Doggie-Dash" target="|Custom" title="Doggie Dash">
Doggie Dash </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Races/KiDS-ROCK" target="" title="KiDS ROCK">
KiDS ROCK </a>
</li>
</ul>
</div>
</div>
</div> </div>
</li>
<li class="nav-2 col-lg-6 dropdown">
<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle btn btn-block" data-toggle="dropdown" href="">
The Weekend
</a>
<div class="mega-menu-content">
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Expo" target="" title="Expo">
Expo </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Schedule" target="" title="Schedule">
Schedule </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Race-Weekend-Information-Center" target="|Custom" title="Race Weekend Information">
Race Weekend Information </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Entertainment" target="" title="Entertainment">
Entertainment </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Travel/Transport" target="|Custom" title="Parking Information">
Parking Information </a>
</li>
</ul>
</div>
</div>
<div class="col-xs-12 col-sm-2 col-md-2">
<div class="collapse navbar-collapse" id="siteNavbar">
<ul class="nav nav-service navbar-nav nav-pills">
<li class="divider-left">
<a class="" href="/en/Events/Nashville/News-and-Promotions" target="|Custom" title="News and Promotions">
News and Promotions </a>
</li>
<li class="divider-left">
<a class="" href="/en/Events/Nashville/The-Weekend/Runner-Perks" target="|Custom" title="Runner Perks">
Runner Perks </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Volunteer" target="" title="Volunteer">
Volunteer </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/VIP" target="" title="VIP">
VIP </a>
</li>
<li class="">
<a class="" href="/en/Events/Nashville/The-Weekend/Travel" target="" title="Travel">
Travel </a>
</li>
</ul>
</div>
</div>
</div> </div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
</header>
<main role="main">
<header class="page-header bg-media" style="background-image:url('/-/media/RnR/Images/Events/Nashville/Images/nash-hero-new-compressor.jpg');">
<div class="container breadcrumb-container">
<ol class="breadcrumb">
<li class="">
<a href="/en">Home</a>
</li>
<li class="">
<a href="/en/Events">Events</a>
</li>
<li class="">
<a href="/en/Events/Nashville">Nashville</a>
</li>
<li class="">
<a href="/en/Events/Nashville/The-Races">The Races</a>
</li>
<li class="">
<a href="/en/Events/Nashville/The-Races/Marathon">Marathon</a>
</li>
<li class="active">
<a href="/en/Events/Nashville/The-Races/Marathon/2019-Results">2019 Results</a>
</li>
</ol>
</div>
<div class="container text-center g-pb-50">
<div class="row g-min-height-500">
<div class="col-lg-12">
<div class="event-header-container">
<div class="row ev-h2-div">
<div class="divider-div">
<div class="low-divider"></div>
</div>
<div class="ev-h2">
<h2>
St. Jude Rock 'n' Roll </h2>
</div>
<div class="divider-div">
<div class="low-divider"></div>
</div>
</div>
<div class="ev-h1">
<h1>
Nashville </h1>
</div>
<div class="row ev-h3-div">
<div class="divider-div">
<div class="low-divider"></div>
</div>
<div class="ev-h3">
<h3>
<time>
Apr 25 - 26, 2020
</time>
</h3>
</div>
<div class="divider-div">
<div class="low-divider"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<section class="section section-full">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="row race-search-res-container">
<div class="race-search-res-div-main col-xs-12">
<h2>St. Jude Rock 'n' Roll Nashville Marathon<br/><small>Saturday, April 27, 2019</small></h2>
<div class="race-search-main col-xs-12">
<div class="race-search-top10-div">
<table class="table table-responsive table-bordered">
<tr>
<th class="table-place">Overall</th>
<th class="table-place">Bib</th>
<th class="table-name">Name</th>
<th class="table-time">Time</th>
</tr>
<tr>
<td>99999</td>
<td>30178</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30178">Timothy Thompson</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31037</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31037">Kelly Himmelberg</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31556</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31556">Candice Campbell</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32466</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32466">Tia Lea</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32228</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32228">Haley Riley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32638</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32638">Jason Carroll</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32090</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32090">Tammy Crogan</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32558</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32558">Rakesh Singh</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32684</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32684">Jackeline Sosa</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30911</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30911">Maximilian Carter</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32341</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32341">David Chadwick</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32409</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32409">Carmen Hallock</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31123</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31123">Ken Mayo</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30366</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30366">Todd Moore</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31349</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31349">Andrew Gandee</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30955</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30955">Philip Draper</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30337</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30337">Joshua Knickerbocker</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>30905</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=30905">Andy Caravello</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>32007</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=32007">Leslie Smith</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31694</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31694">Keli Brown</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>33046</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=33046">Kerry Tolley</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31613</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31613">Daniel Valenti</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31562</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31562">Laura Drew</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31657</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31657">Keith Andersen</a></td>
<td>00:00:00</td>
</tr>
<tr>
<td>99999</td>
<td>31970</td>
<td><a href="/en/Events/Nashville/The-Races/Marathon/2019-Results/Athlete?id=31970">Michelle Rador</a></td>
<td>00:00:00</td>
</tr>
</table>
<div class="pager">

In [30]:
type(soup)

bs4.BeautifulSoup

In [31]:
# gets the first df from the results_list
df_1 = results_list[0]

In [32]:
df_1.shape

(25, 4)

In [33]:
df_1

    Overall    Bib                  Name      Time
0     99999  30178      Timothy Thompson  00:00:00
1     99999  31037      Kelly Himmelberg  00:00:00
2     99999  31556      Candice Campbell  00:00:00
3     99999  32466               Tia Lea  00:00:00
4     99999  32228           Haley Riley  00:00:00
5     99999  32638         Jason Carroll  00:00:00
6     99999  32090          Tammy Crogan  00:00:00
7     99999  32558          Rakesh Singh  00:00:00
8     99999  32684        Jackeline Sosa  00:00:00
9     99999  30911     Maximilian Carter  00:00:00
10    99999  32341        David Chadwick  00:00:00
11    99999  32409        Carmen Hallock  00:00:00
12    99999  31123              Ken Mayo  00:00:00
13    99999  30366            Todd Moore  00:00:00
14    99999  31349         Andrew Gandee  00:00:00
15    99999  30955         Philip Draper  00:00:00
16    99999  30337  Joshua Knickerbocker  00:00:00
17    99999  30905        Andy Caravello  00:00:00
18    99999  32007          Leslie Smith  00:00:00
19    99999  31694            Keli Brown  00:00:00
20    99999  33046          Kerry Tolley  00:00:00
21    99999  31613        Daniel Valenti  00:00:00
22    99999  31562            Laura Drew  00:00:00
23    99999  31657        Keith Andersen  00:00:00
24    99999  31970        Michelle Rador  00:00:00

In [34]:
df_1.shape

(25, 4)

In [35]:
pd.read_html(str(tables[1]))

[  Top Females
     Gender PL                Name      Time
 0           1        Carson Davis  03:06:25
 1           2  Leah Frazier Allen  03:07:51
 2           3         Emily Soppe  03:11:16
 3           4        Allison Koch  03:15:27
 4           5         Tara Austin  03:15:54
 5           6  Lisa Holding Eagle  03:21:37
 6           7         Rachel Polk  03:22:05
 7           8      Amanda Jackson  03:25:15
 8           9      Marissa Mchugh  03:25:29
 9          10     Jessica Spicola  03:25:43]

In [36]:
pd.read_html(str(tables[2]))

[    Top Men
   Gender PL               Name      Time
 0         2     Scott Wietecha  02:34:59
 1         3      Jordan Wilson  02:35:24
 2         4     Steelton Flynn  02:39:59
 3         5       Thomas Ellis  02:42:09
 4         6   Nicholas Tseffos  02:48:42
 5         7  Satoshi Mitsumori  02:50:33
 6         8   Harrison Kieffer  02:51:18
 7         9       Steven Forte  02:54:34
 8        10         Grant Rice  02:55:49
 9        11      Andrew Fisher  02:56:05]

In [ ]:
# creating a For loop to iterate through the pages starting from page 1 to 154
page = 0
full_2016 = pd.DataFrame()
for page in range(154):
   base1 = url_base_2016
   page = page + 1
   url1 = base1 + str(page)
   result1 = requests.post(url1)
   soup1 = BS(result1.text, 'lxml')
   tables1 = soup1.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list1 = pd.read_html(str(tables1[0]))
   full_2016 = full_2016.append(results_list1)

In [23]:
full_2016.head()

   Overall   Bib               Name      Time
0        1     1     Scott Wietecha  02:25:42
1        2     3      Brian Shelton  02:34:43
2        3  1047  Christopher Capps  02:38:43
3        4  1052       Jason Grimes  02:45:06
4        5  1046        David Adams  02:47:28

In [24]:
full_2016.shape

(3842, 4)

In [25]:
full_2016

    Overall    Bib                     Name      Time
0         1      1           Scott Wietecha  02:25:42
1         2      3            Brian Shelton  02:34:43
2         3   1047        Christopher Capps  02:38:43
3         4   1052             Jason Grimes  02:45:06
4         5   1046              David Adams  02:47:28
..      ...    ...                      ...       ...
12    99999   2052             Adam Pastors  00:00:00
13    99999   4007              Andy Brooks  00:00:00
14    99999   2107  Anastasiya Christiansen  00:00:00
15    99999  11097             Douglas Reid  00:00:00
16    99999  27234          Melinda Bennett  00:00:00

[3842 rows x 4 columns]

In [26]:
# Adding the year Column
# inserting column with static value in data frame 
full_2016 = full_2016.insert(2, "Year", "2016")

In [60]:
# creating a For loop to iterate through the pages starting from page 1 to 147
page = 0
full_2017 = pd.DataFrame()
for page in range(147):
   base2 = url_base_2017
   page = page + 1
   url2 = base2 + str(page)
   result2 = requests.post(url2)
   soup2 = BS(result2.text, 'lxml')
   tables2 = soup2.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list2 = pd.read_html(str(tables2[0]))
   full_2017 = full_2017.append(results_list2)

In [61]:
full_2017.shape

(3651, 4)

In [62]:
full_2017.to_csv('full_2017_2')

In [29]:
full_2017.head()

   Overall   Bib            Name      Time
0        1     1  Scott Wietecha  02:40:25
1        2  1145    Ryan Regnier  02:56:28
2        3  1147  Daniel Everett  03:00:55
3        4  1029   Khris Vickroy  03:04:47
4        5  1119  Marcus Dilallo  03:04:53

In [30]:
full_2017.info

<bound method DataFrame.info of     Overall    Bib             Name      Time
0         1      1   Scott Wietecha  02:40:25
1         2   1145     Ryan Regnier  02:56:28
2         3   1147   Daniel Everett  03:00:55
3         4   1029    Khris Vickroy  03:04:47
4         5   1119   Marcus Dilallo  03:04:53
..      ...    ...              ...       ...
21    99999  26069   Justin Wehring  00:00:00
22    99999  11037  Malissia Zapata  00:00:00
23    99999   8111   Timothy Forbes  00:00:00
24    99999   2084    Thomas Hansen  00:00:00
0     99999   1095     Kyle Baldwin  00:00:00

[3651 rows x 4 columns]>

In [31]:
# Adding the year Column
# inserting column with static value in data frame 
full_2017 = full_2017.insert(2, "Year", "2017")

In [55]:
# For loop for the full marathon 2018
page = 0
full_2018 = pd.DataFrame ()
for page in range(85):
    base3 = url_base_2018
    page = page + 1
    url3 = base3 + str(page)
    results3 = requests.post(url3)
    soup3 = BS(results3.text, 'lxml')
    tables3 = soup3.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
    results_list3 = pd.read_html(str(tables3[0]))
    full_2018 = full_2018.append(results_list3)

In [56]:
full_2018.shape

(2115, 4)

In [57]:
full_2018.head()

   Overall    Bib             Name      Time
0        1      1   Scott Wietecha  02:28:16
1        2      3     Garang Madut  02:29:52
2        3  33442       Kevin Fink  02:38:59
3        4  33441    Andrew Hodges  02:43:59
4        5  30028  Nicholas Aubert  02:48:11

In [58]:
full_2018.to_csv('full_2018_1')

In [35]:
# Adding the year Column
# inserting column with static value in data frame 
full_2018 = full_2018.insert(2, "Year", "2018")

In [65]:
# For loop for the full marathon 2019
page = 0
full_2019 = pd.DataFrame()
for page in range(113):
    base4 = url_base_2019
    page = page + 1
    url4 = base4 + str(page)
    results4 = requests.post(url4)
    soup4 = BS(results4.text, 'lxml')
    tables4 = soup4.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
    results_list4 = pd.read_html(str(tables4[0]))
   
    full_2019 = full_2019.append(results_list4)

In [66]:
full_2019.shape

(2811, 4)

In [67]:
full_2019.head()

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54
1        2      1  Scott Wietecha  02:34:59
2        3      4   Jordan Wilson  02:35:24
3        4  30034  Steelton Flynn  02:39:59
4        5  30035    Thomas Ellis  02:42:09

In [68]:
full_2019.to_csv('full_2019_1')

In [69]:
full_2019.to_csv('full_2019_1.csv')

In [40]:
travis = full_2019.loc[full_2019['Name'] == 'Travis Peruski']

In [41]:
travis

   Overall    Bib            Name      Time
0        1  30001  Travis Peruski  01:37:54

In [42]:
full_2019.columns

Index(['Overall', 'Bib', 'Name', 'Time'], dtype='object')

In [43]:
# Dropping the outlier in 2019 Full Marathon Travis Peruski
full_2019 = full_2019[full_2019['Name'] != "Travis Peruski"]

In [44]:
full_2019.tail()

    Overall    Bib                Name      Time
6     99999  32005      Brittany Small  00:00:00
7     99999  32762  Jacqueline Johnson  00:00:00
8     99999  30304           Kevin Fox  00:00:00
9     99999  32183      Clarisa Horton  00:00:00
10    99999  32258      Krista Zanetti  00:00:00

In [45]:
full_2019.shape

(2810, 4)

In [46]:
full_2016.dtypes

AttributeError: 'NoneType' object has no attribute 'dtypes'

In [ ]:
full_2016['Year'] = 2016
full_2017['Year'] = 2017
full_2018['Year'] = 2018
full_2019['Year'] = 2019

In [ ]:
all_full_m_1 = pd.concat([full_2019, full_2018, full_2017, full_2016])

In [ ]:
all_full_m_1.head()

In [ ]:
scott = all_full_m_1[all_full_m_1['Name'].isin(["Scott Wietecha"])]

In [ ]:
scott

In [ ]:
all_full_m_1.shape

In [ ]:
all_full_m_1

all_full_m['Time'] = pd.to_time(all_full_m['Time'])

In [ ]:
all_full_m_1.dtypes

# Splitting timestamp column into separate date and time columns
all_full_m['Date'] = [d.date() for d in all_full_m['Time']]
all_full_m['Time'] = [d.time() for d in all_full_m['Time']]
all_full_m.head()

In [ ]:
all_full_m.shape

#dropping the Date
all_full_m = all_full_m.drop(['Date'], axis=1)

all_full_m.head()

In [ ]:
all_full_m_1[all_full_m_1.Time == all_full_m_1.Time.max()]

In [ ]:
all_full_m_1.head()

In [ ]:
scott = all_full_m_1[all_full_m_1['Name'].isin (['Scott Wietecha'])]

In [ ]:
scott

In [70]:
# For loop to iterate through the pages starting from page 1 to 898
page = 0
half_2016 = pd.DataFrame()
for page in range(898):
   base1 = url_base_half_2016
   page = page + 1
   url1 = base1 + str(page)
   result1 = requests.post(url1)
   soup1 = BS(result1.text, 'lxml')
   tables1 = soup1.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list1 = pd.read_html(str(tables1[0]))
   half_2016 = half_2016.append(results_list1)

In [71]:
half_2016.to_csv('half_2016_1.csv')

# For loop to iterate through the pages starting from page 1 to 898
page = 0
half_2016 = pd.DataFrame()
for page in range(898):
   base1 = url_base_half_2016
   page = page + 1
   url1 = base1 + str(page)
   result1 = requests.post(url1)
   soup1 = BS(result1.text, 'lxml')
   tables1 = soup1.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list1 = pd.read_html(str(tables1[0]))
   half_2016 = half_2016.append(results_list1)

half_2016.shape

In [72]:
half_2016.head()

   Overall   Bib            Name      Time
0        1   201  Roosevelt Cook  01:11:15
1        2   204     Bill Martin  01:11:50
2        3  1623    Cody Hodgins  01:13:43
3        4  1222   Andrew Archer  01:15:04
4        5  1224    Brian Syring  01:15:30

In [73]:
# For loop to iterate through the pages starting from page 1 to 892
page = 0
half_2017 = pd.DataFrame()
for page in range(892):
   base2 = url_base_half_2017
   page = page + 1
   url2 = base2 + str(page)
   result2 = requests.post(url2)
   soup2 = BS(result2.text, 'lxml')
   tables2 = soup2.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
   results_list2 = pd.read_html(str(tables2[0]))
   half_2017 = half_2017.append(results_list2)

In [74]:
half_2017.head( )

   Overall   Bib            Name      Time
0        1   202   Tyler Andrews  01:10:58
1        2   204     Bill Martin  01:11:25
2        3   206     Nick French  01:11:42
3        4   201  Roosevelt Cook  01:13:20
4        5  1655     Erick Kigen  01:14:56

In [85]:
half_2017.to_csv('half_2017_1.csv')

In [76]:
# For loop for the half marathon 2018 with a total pages 598
page = 0
half_2018 = pd.DataFrame ()
for page in range(598):
    base3 = url_base_half_2018
    page = page + 1
    url3 = base3 + str(page)
    results3 = requests.post(url3)
    soup3 = BS(results3.text, 'lxml')
    tables3 = soup3.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
    results_list3 = pd.read_html(str(tables3[0]))
    half_2018 = half_2018.append(results_list3)

In [77]:
half_2018.head()

   Overall  Bib            Name      Time
0        1  103  Roosevelt Cook  01:09:25
1        2  107    Lucas Cotter  01:09:51
2        3  105     Nick French  01:10:38
3        4  106    Jason Vincze  01:11:50
4        5  104   Joseph Elsakr  01:13:28

In [78]:
half_2018.to_csv('half_2018_1.csv')

In [79]:
# For loop for the half marathon 2019 with a total pages 690
page = 0
half_2019 = pd.DataFrame()
for page in range(113):
    base4 = url_base_half_2019
    page = page + 1
    url4 = base4 + str(page)
    results4 = requests.post(url4)
    soup4 = BS(results4.text, 'lxml')
    tables4 = soup4.find_all("table", attrs = {"class":"table table-responsive table-bordered"})
    results_list4 = pd.read_html(str(tables4[0]))
    half_2019 = half_2019.append(results_list4)

In [83]:
half_2019.tail()

    Overall    Bib             Name      Time
20     2821   2313  Natalie Schmidt  02:03:18
21     2822   6566   Lauren Babcock  02:03:18
22     2823   3767     Suzanne Aoun  02:03:18
23     2824   6677  Andrew Chretien  02:03:19
24     2825  16808    Timothy Smith  02:03:19

In [86]:
half_2019.to_csv('half_2019_1.csv')

In [ ]:
half_2019.shape

In [ ]:
all_half_m = pd.concat([half_2019, half_2018, half_2017, half_2016])

In [ ]:
all_half_m.head()

In [ ]:
all_half_m['Time'] = pd.to_datetime(all_half_m['Time'])

In [ ]:
all_half_m.dtypes

In [ ]:
all_half_m.head()

In [ ]:
all_half_m.tail()

In [ ]:
all_half_m['Date'],all_half_m['Time']= all_half_m['Time'].apply(lambda x:x.date()), all_half_m['Time'].apply(lambda x:x.time())

In [ ]:
all_half_m.head()

In [ ]:
#df.rename(columns={"A": "a", "B": "c"})
#all_full_m(columns={'Overall':'Overall', 'Bib':'Bib', 'Name':'Name', 'Time':'Date', 'Date':'Time'})

In [ ]:
#all_full_m['Date'],all_full_m['Time']= all_full_m['Time'].apply(lambda x:x.date()), all_full_m['Time'].apply(lambda x:x.time())

In [ ]:
all_full_m.head()

pick a dataframe 
request.post
create a soup

In [ ]:
import pandas as pd
tables = pd.read_html(urlbase_2019)

In [ ]:
# to save a dataframe as .csv and open in your excel
full_2016.to_csv('full_2016_1.csv')

In [ ]:
pwd

In [ ]:
# to save a dataframe as .csv and open in your excel
full_2017.to_csv('full_2017_1.csv')

In [48]:
full_2018.to_csv('full_2018_1.csv')

AttributeError: 'NoneType' object has no attribute 'to_csv'